# Default ignored files
/shelf/
/workspace.xml

# Ignore all compressed files
*.zip
*.gz
*.rar
*.7z

# Ignore all data files
*.bed
*.gtf
*.bigbed
*.fasta
*.svg
*.fa
*.fa.fai
*.gaf
*.bw
*.rpt
*.gct

# Ignore the following folders
.vscode/
.idea/

annotate/human/*.csv
annotate/mouse/*.csv
classifier/MLP/experiment_details
classifier/SVM/experiment_details
classifier/SVM/performance/human/grid_details
classifier/SVM/performance/human/svm_rbf_HinSAGE_grid_summary.csv
data/raw/*.csv
data/raw/*.txt
HinSAGE/human
HinSAGE/mouse
experiment/**/*.csv
experiment/**/*.txt
experiment/**/*.md
omics/protein/mouse/filtered_exp.csv
omics/protein/human/filtered_exp.csv
omics/protein/human/*.txt
reference_lncRNA/mouse/transcript/
reference_lncRNA/human/transcript/
