# Default ignored files
/shelf/
/workspace.xml

# Ignore all compressed files
*.zip
*.gz
*.rar
*.7z

# Ignore all data files
*.bed
*.gtf
*.bigbed
*.fasta
*.svg
*.fa
*.fa.fai
*.gaf
*.bw
*.rpt
*.gct

# Ignore the following folders
.vscode/
.idea/

annotate/human/*.csv
annotate/mouse/*.csv
classifier/SVM/performance
classifier/SVM/performance
data/*.csv
data/raw/*.txt
HinSAGE/human
HinSAGE/mouse
experiment/**/*.txt
experiment/**/*.csv
experiment/**/**/*.csv
features/protein/human/*.txt
reference_lncRNA/mouse/transcript/
reference_lncRNA/human/transcript/
results/human
results/mouse